.App {
  text-align: center;
}

.wrapper{
  border:1px solid black;
  height:auto;
  width:40%;
  margin:auto;
}
@media only screen and (max-width: 480px) {
  .wrapper{
    width:90%;
  }
  
}

.textArea{
  width:100%;
}
.textArea input{
  height:80px;
  width:98%;
  font-size:40px;
}
.container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  background-color: rgb(194, 188, 188);
  padding: 20px 10px 20px 10px;
}
.button{
  font-size:40px;
  height:60px;
  
}
button{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  display:block;
  font-size:26px;
  border-radius: 40px;
  background-color: rgb(56, 161, 53);
  border:none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 0px 40px 0 rgba(0,0,0,0.19);
  color:white
  
}



